body {
  background: url(images/top_bg.jpg) repeat-x top #f6f5e9;
  margin: auto;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  color: #ccc;
}
h1 {
  font-size: 15px;
  color: #078ccd;
  margin: 3px;
  margin-bottom: 0px;
  padding-left: 2px;
}
h2 {
  font-size: 13px;
  color: #666666;
  margin: 0px;
  padding: 3px;
}
h3 {
  font-size: 14px;
  color: #666666;
  margin: 0px;
  padding: 3px;
}
h4 {
  font-size: 12px;
  color: #ce6700;
  margin: 0px;
  padding: 3px;
  font-weight: normal;
}
.clear {
  clear: both;
  overflow: hidden;
  height: 4px;
}
#main_content {
  width: 851px;
  height: auto;
  margin: auto;
  background-color: #f6f6ee;
  border: 8px #ffffff solid;
}
#top_banner {
  width: 851px;
  height: 117px;
  background: url(images/illustr.jpg) no-repeat right;
}
img.logo {
  padding-top: 10px;
}
#top_banner1 {
  float: left;
  font-size: 12px;
  width: 258px;
  text-align: center;
}
#top_banner2 {
  padding-top: 45px;
  font-size: 12px;
}
#top_banner1 h1 {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  color: #666666;
  padding-left: 2px;
}
/*------top menu---------*/
#top_div {
  width: 851px;
  margin: auto;
  padding: 3px;
}
#top_links {
  float: right;
  width: 441px;
}

a.nav:link,
a.nav:visited {
  height: 18px;
  font-weight: bold;
  padding: 2px 18px 1px 0px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}

a.nav:hover {
  text-decoration: underline;
  color: #fff;
}
/*----page content----*/
#page_content {
  width: 800px;
  height: auto;
  margin: auto;
}
#col1 {
  width: 190px;
  height: auto;
  float: left;
  padding: 10px;
  padding-left: 20px;
  /* border-right:1px #800000 dashed; */
}
#col2 {
  width: 390px;
  height: auto;
  float: left;
  padding: 10px;
}
#col3 {
  width: 180px;
  height: auto;
  float: left;
  padding: 10px;
  /* border-left:1px #800000 dashed; */
}
#page_content_left {
  width: 400px;
  height: auto;
  float: left;
  padding: 10px;
  border-right: 1px #800000 dashed;
}
#page_content_right {
  width: 400px;
  height: auto;
  float: left;
  padding: 10px;
}
.title {
  font-size: 16px;
  color: #808080;
  clear: both;
  padding-left: 10px;
}
.content_text {
  font-size: 12px;
  color: #333333;
  height: auto;
  text-align: justify;
  padding: 8px;
}
#imgdiv {
  float: left;
  width: 109px;
  text-align: center;
  padding: 8px;
}
img.pic {
  padding: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  border: 5px #ffffff solid;
  float: left;
}
img.map_pic {
  padding: 0px;
  margin: 10px;
  border: 5px #ffffff solid;
  float: right;
}
img.gallery {
  padding: 0px;
  margin: 0px;
  border: 5px #ffffff solid;
  float: left;
}
.more {
  width: auto;
  float: right;
  height: 20px;
}
#link_more {
  float: right;
  width: auto;
}
#link_more a {
  text-decoration: none;
  color: #990000;
  font-size: 12px;
}
#link_more a:hover {
  text-decoration: underline;
}
img.more {
  float: left;
}
#page_bottom {
  width: 830px;
  clear: both;
  padding: 10px;
  height: auto;
}
img.inspiration {
  padding: 2px;
  margin: 3px;
  border: 2px #ffffff solid;
}
/*---------services---------*/
.details {
  width: auto;
  height: auto;
  float: left;
  padding-left: 20px;
}
ul.services {
  list-style-type: none;
  display: block;
  width: auto;
  height: auto;
  float: left;
  margin: 0px;
  padding: 10px 0 10px 2px;
}

ul.services li {
  display: inline;
}

a.nav_services:link,
a.nav_services:visited {
  display: block;
  padding: 1px 0 0 14px;
  margin: 2px;
  width: auto;
  height: auto;
  text-align: left;
  line-height: 17px;
  text-decoration: none;
  background: url(images/bullet.png) no-repeat left;
  color: #000;
}
a.nav_services_a {
  display: block;
  padding: 1px 0 0 14px;
  margin: 2px;
  width: auto;
  height: auto;
  text-align: left;
  line-height: 17px;
  font-weight: bold;
  text-decoration: none;
  background: url(images/bullet_a.png) no-repeat left;
  color: #990000;
}

a.nav_services:hover {
  display: block;
  padding: 1px 0 0 14px;
  margin: 2px;
  width: auto;
  height: auto;
  text-align: left;
  line-height: 17px;
  text-decoration: none;
  background: url(images/bullet_a.png) no-repeat left;
  color: #000000;
}

/*---------menu_navigation--------*/
.menu_navigation {
  width: 750px;
  height: 30px;
  margin: auto;
  clear: both;
}
#left {
  width: auto;
  float: left;
}
.left {
  float: left;
}
.right {
  float: left;
  padding: 3px;
}
.right a {
  text-decoration: none;
  color: #990000;
}
#right {
  width: auto;
  float: right;
  padding-right: 25px;
}
/*------contact form------*/
#login {
  float: left;
  width: auto;
  padding: 10px 10px 0 30px;
  color: #666666;
}
.input {
  width: 140px;
  height: 12px;
  font-size: 10px;
  float: left;
}
.textarea {
  width: 140px;
  height: 50px;
  font-size: 10px;
  float: left;
}
.submit {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}
/*-------footer-----*/
#footer {
  width: auto;
  height: 100px;
  clear: both;
  margin-top: 40px;
  background-color: #333333;
}
#footer_content {
  width: 850px;
  margin: auto;
}
#copyrights {
  width: 850px;
  color: #999999;
  font-size: 11px;
  float: left;
  padding-top: 5px;
  text-align: center;
}
/*---------footer menu---------*/
.footer_menu {
  width: auto;
  height: 20px;
  text-align: center;
  line-height: 16px;
}
.footer_menu a:link,
a:visited {
  text-decoration: none;
  color: #999999;
}

.footer_menu a:hover {
  text-decoration: none;
  color: #666666;
}

/* tab menu */
#tabmenu {
  width: 100%;
  text-align: left;
  height: 20px;
}

#brown_bar {
  width: 100%;
  height: 21px;
  background-color: #e2e0d4;
  border-top: 5px #720027 solid;
  text-align: center;
  padding-top: 3px;
}
#brown_bar h1 {
  color: #000000;
  font-size: 11px;
  padding: 0px;
  margin: 0px;
}
/* splic mainmenu  */
#navlist ul {
  list-style-type: none;
  width: 100%;
}

#navlist li {
  background: url(images/tab_off_l.png) 0 100% no-repeat;
  float: left;
  height: 20px;
  text-indent: 0px;
  list-style-type: none;
}

#navlist li a:link,
#navlist li a:visited {
  background: url(images/tab_off_r.png) 100% 100% no-repeat;
  float: left;
  display: block;
  font: bold 12px Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #720027;
  text-decoration: none;
  height: 20px;
  padding: 0px 18px 0px 12px;
}

#navlist li a:hover {
  color: #fff;
}
li#active {
  color: #fff;
  background: url(images/tab_on_l.png) 0 100% no-repeat;
  text-decoration: none;
}

#active a.topnav#current {
  color: #fff;
  background: url(images/tab_on_r.png) 100% 100% no-repeat;
  text-decoration: none;
}
.morelink1 {
  font-weight: bold;
  color: #c12f00;
  text-decoration: none;
  background-image: url(images/morelinks_active.png);
  background-repeat: no-repeat;
  float: left;
  padding-left: 17px;
}
.morelink1:hover {
  font-weight: bold;
  color: #c12f00;
  text-decoration: none;
  background-image: url(images/morelinks_hover.jpg);
  background-repeat: no-repeat;
  float: left;
}
.links_morearea {
  margin: 0px;
  float: left;
  width: 190px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.links_text {
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  color: #7e7656;
  text-decoration: none;
}
.freeregistration {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  background-image: url(images/freereg.png);
  background-repeat: no-repeat;
  float: left;
  height: 40px;
  width: 168px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.free {
  font-size: 17.1px;
  font-weight: bold;
  color: #b72d01;
}
#boxbg ul {
  padding: 0px;
  margin-left: 20px;
}
#boxbg ul li {
  list-style-type: circle;
  padding-bottom: 10px;
  list-style-image: url(images/tick.gif);
}
#boxbg {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #7e7656;
  border: 2px solid #ffffff;
  width: 180px;
  background-color: #fcf8ec;
  padding: 5px;
}
.boxhead {
  color: #ffffff;
  padding: 4px;
  background-color: #720027;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 12px;
}

a:link,
a:visited {
  color: #c12f00;
  font-size: 11px;
  text-decoration: none;
}
a:hover {
  /*	background-color:#ffffff; */
  text-decoration: underline;
}
.news_area {
  font-weight: normal;
  color: #655f5f;
  text-decoration: none;
  margin: 0px;
  float: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
}
.news_head {
  font-weight: bold;
  color: #af0602;
  text-decoration: none;
  background-image: url(images/news_icon.png);
  background-repeat: no-repeat;
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  height: 20px;
}
.news_link:link,
.news_link:visited {
  color: #7f9200;
  text-decoration: none;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  height: 20px;
}
.news_link:hover {
  color: #af0602;
  text-decoration: none;
  background-color: #ffffff;
}
p {
  margin: 0px;
  text-align: justify;
  font-size: 12px;
}
td {
  color: #000000;
  text-align: justify;
  font-size: 12px;
}
#info {
  width: 99%;
}

.indentmenu {
  font: bold 12px Arial;
  width: 90%;
}
.indentmenu ul {
  margin: 0;
  padding: 0;
  float: left;
}
.indentmenu ul li {
  display: inline;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.indentmenu ul li a,
.indentmenu ul li a:visited {
  float: left;
  color: Black;
  display: block;
  text-decoration: none;
  text-align: center;
  border: 1px solid #eac165;
  background: url("/images/occbg.jpg") repeat-x;
  border-bottom: 0px solid #eac165;
  width: 82px;
  height: 27px;
  padding-top: 3px;
}
.indentmenu1 ul li a:visited {
  color: white;
}
.indentmenu ul li a.selected {
  display: block;
  color: Black !important;
  text-align: center;
  font-weight: bold;
}
.tabcontent {
  display: none;
}
.tabcontents {
  font: bold 12px Arial;
}

.orderit1 {
  font: bold 14px Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  margin-right: 0px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}
.pagination {
  padding: 2px;
}

.pagination ul {
  margin: 0;
  padding: 0;
  text-align: center; /*Set to "right" to right align pagination interface*/
  font-size: 16px;
}

.pagination li {
  list-style-type: none;
  display: inline;
  padding-bottom: 1px;
}

.pagination a,
.pagination a:visited {
  padding: 0 5px;
  border: 1px solid #781f21;
  text-decoration: none;
  color: #781f21;
}

.pagination a:hover,
.pagination a:active {
  border: 1px solid #781f21;
  color: #000;
  background-color: #ffff80;
}

.pagination a.currentpage {
  background-color: #781f21;
  color: #fff !important;
  border-color: #2b66a5;
  font-weight: bold;
  cursor: default;
}

.pagination a.disablelink,
.pagination a.disablelink:hover {
  background-color: white;
  cursor: default;
  color: #929292;
  border-color: #929292;
  font-weight: normal !important;
}

.pagination a.prevnext {
  font-weight: bold;
}

.headingh {
  background: url("/images/heading.gif") no-repeat;
  height: 40px;
  padding-left: 54px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.gal {
  color: #f6f6ee;
}
.image2 a {
  padding: 10px;
  color: #000000;
  font-family: Arial;
  font-size: 10px;
}
.catimage1 td {
  color: #c00202;
  text-align: center;
}
.catimage td {
  border: 1px dashed #404040;
  color: #c00202;
  text-align: center;
}
.catimage img {
  border: 3px solid #eee5ce;
}
.catimage1 img {
  border: 2px solid #eee5ce;
}

.catimage td a:link,
.catimage td a:visited {
  color: #c00202;
}
#pricetable td {
  text-align: center;
}
.red {
  color: #e00c20;
}
.orderit1 {
  text-align: center;
}
#top_banner2 {
  padding-top: 9px;
  font-size: 12px;
  float: right;
  width: 570px;
}
#top_banner3 {
  float: left;
  padding-top: 1px;
  font-size: 12px;
  width: 315px;
  text-align: center;
}
#top_banner3 p {
  margin-left: 3px;
  color: #5d8c13;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
#top_banner3 h3 {
  margin-left: 0px;
  color: #b92d2d;
  font-size: 22px;
  font-weight: bold;
}
.offer {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  padding: 6px;
  background-color: #b92d2d;
  text-align: center;
}
a.offer1 {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}
.detailoption {
  font-size: 12px;
}
.bold {
  font-size: 12px;
  font-weight: bold;
  color: #b92d2d;
}

/*Import css for drop down menus*/
/*Initialize*/
ul#navlist,
ul#navlist ul.sub-menu {
  padding-left: 10px;
  /*    padding:0;
    margin: 0; */
}
ul#navlist ul.sub-menu {
  padding: 0;
  margin: 0;
}
ul#navlist li,
ul#navlist ul.sub-menu li {
  list-style-type: none;
  display: inline-block;
}
/*Link Appearance*/
ul#navlist li a,
ul#navlist li ul.sub-menu li a {
  text-decoration: none;
  /*    padding: 5px;
    display:inline-block; */
  display: block;
  color: #720027;
  background: #e9dcbb;
}
ul#navlist li a,
ul#navlist li ul.sub-menu li a:hover {
  color: #fff;
}
/*Make the parent of sub-menu relative*/
ul#navlist li {
  position: relative;
}
/*sub menu*/
ul#navlist li ul.sub-menu {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  width: 240px;
  color: #720027;
  background: #e9dcbb;
  padding: 6px 6px;
}
ul#navlist li:hover ul.sub-menu {
  display: block;
}
ul#navlist li ul.smallwidth {
  width: 144px;
}
