<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_202_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/paint_202_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/pictures_1158.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/painting_1158_m.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_or_441.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/portrait_441_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_1590_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/coupleportrait_464_m.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_6143_m.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/painting_6143_m.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/pictures_3161.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/painting_3161_m.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_1614_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/portrait_487_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/petphotos_1142_or.jpg"
        class="img-responsive"
      />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/portrait_1142_m.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_207_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/family_portrait_207.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_387_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/Peopleportrait_387_m.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo127_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/paint127_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/jamie_or_ph.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/jamie_oil_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/photo_wedding_or.jpg"
        class="img-responsive"
      />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/paint_wedding_m.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_1120_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/portrat_1120_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_327_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/coupleportrait_327_m.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/couple_photo_325_or.jpg"
        class="img-responsive"
      />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img
        alt=""
        src="gallerypics/Charcoal_couple_325_m.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_160.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/paint_160_1.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/Joanne.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/Joanne_oil_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_204_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/Pastel_204_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/lady_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/paint71_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_279_m.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/paint_279_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/3dogs.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/Doggies.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/CIMG1685.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/paint_111_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/original_ph2.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/edited2.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/original_ph3.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/edited3.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/felicita.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/felicita_oil_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/original_ph4.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/edited4.jpg" class="img-responsive" />
    </div>
  </div>
</div>

<div class="row team">
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/photo_132_or.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail-style">
      <img alt="" src="gallerypics/paint_132_m.jpg" class="img-responsive" />
    </div>
  </div>
</div>
